.section-recursos {
  margin-top: 5rem;
  .container {
    border-bottom: 1px solid $purple-10;
    .top-texto {
      margin-bottom: 5rem;
      @include displayflex-center-justifybetween;
      h4 {
        max-width: 750px;
      }
    }
    .cards-recursos {
      @include displayflex-center-justifybetween;
      margin-bottom: 5rem;
    }
    @include responsivo("mobile") {
      .top-texto {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        gap: 1rem;
        h4 {
          text-align: center;
        }
      }
      .cards-recursos {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
    }
  }
}
