//Primary colors
$purple-10: #653df5;
$purple-20: #7a5ff7;
$purple-30: #2c1b6a;

//Grey colors
$gray-900: #0a0b0d;
$gray-800: #393b42;
$gray-700: #5c5f69;
$gray-600: #787c87;
$gray-500: #979ba6;
$gray-400: #b3b8c2;
$gray-300: #d1d6dc;
$gray-200: #e1e4e8;
$gray-100: #f1f3f6;
